<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>This will be he about me <a href="#">section</a> with everything that it contains.</p>
		<p>This will be he about me section with everything that it contains.</p>
		<p>This will be he about me section with everything that it contains.</p>
		<p>This will be he about me section with everything that it contains.</p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Stuff I've Written</h2>
		<hr>

		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">
		<h2>Stuff I've Built</h2>
		<hr>
		<h3><a href="#">Internships platform</a></h3>
		<p class="date">April 2016</p>
		<h3><a href="#">RPG Web Game</a></h3>
		<p class="date">March 18th 2016</p>
		<h3><a href="#">Desktop RPG Game</a></h3>
		<p class="date">March 13th 2016</p>
		<h2>Stuff I've Built</h2>
		<hr>
		<h3><a href="#">Internships platform</a></h3>
		<p class="date">April 2016</p>
		<h3><a href="#">RPG Web Game</a></h3>
		<p class="date">March 18th 2016</p>
		<h3><a href="#">Desktop RPG Game</a></h3>
		<p class="date">March 13th 2016</p>
	</div>
</div>